.component {
  padding: 0.5rem;

  article {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
  }
}

.background {
  position: relative;
  min-height: 300px;
  background-color: #eee;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.post {
  &Header:after {
    content: '';
    display: table;
    clear: both;
  }
  
  &Top {
    padding-right: 1rem;
    margin-bottom: 1rem;
    float: left;
    width: calc(100% - 60px);
  }
  
  &Bottom {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    float: left;
  }
}
